@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom, #ffffff 10%, #F0F1FF 70%);
  background-attachment: fixed;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}
:focus:not(:focus-visible) {
  outline: none;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    grid-auto-rows: min-content;
    grid-template-columns: 1;
    height: 100vh;
    margin: 0 0 0 0;
    padding: 0;
}

#pageHeader {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 16px 0 16px;
}

.logo-light {
    width: 89px;
    height: 35px;
    margin-top: 6px;
}

.btn {
    border-radius: 28px;
    width: 140px;
    height: 48px;
    font-size: 1.6rem;
    font-weight: 400;
}

.btn-header {
    background-color: #13183F;
    color: #ffffff;
    margin-right: 3px;
}

#pageAside {
    grid-area: aside;
    margin: 0 0 0 0;
    overflow: hidden;
}

h1 {
    font-size: 4.0rem;
    font-weight: 800;
    color: #13183F;
    margin: 30px 16px 20px 16px;
}

.desc {
    font-size: 1.6rem;
    color: #83869A;
    font-weight: 500;
    line-height: 2.6rem;
    margin-left: 16px;
    margin-right: 16px;
}

.desc-aside {
    margin-right: 10px;
}

.btn-aside {
    background-image: linear-gradient(#FF6F48, #F02AA6);
    color: #ffffff;
}
 
.image-hero-mobile {
    transform: scale(1.17);
    margin: 50px 0 0 0;
} 

#pageContent {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular {
    background-image: linear-gradient(#FF6F48, #F02AA6);
    color: #ffffff;
    border-radius: 5px;
    font-size: 2.4rem;
    font-weight: 800;
    width: 243px;
    height: 120px;
    padding-left: 25px;
    line-height: 3.2rem;
    margin-bottom: 70px;
}

.category {
    margin-left: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
    background-color: #ffffff;
    /* padding-left: 20px; */
    width: 243px;
    height: 225px;
    border-radius: 5px;
    padding: 30px 10px 0 25px;
    position: relative;
}

.animation, .design, .photography, .crypto, .business {
    position: absolute;
    top: -28px;
}

h4 {
    font-size: 2.0rem;
    font-weight: 800;
    color: #13183F;
    margin-top: 10px;
    margin-bottom: 5px;
}

.get-started {
    font-size: 1.6rem;
    color: #F74780;
}

#pageFooter {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #13183F;
    width: 100%;
    height: 120px;
    padding: 0 10px 0 10px;
}

@media only screen and (min-width: 696px) {

    body {
        display: grid;
        grid-template-areas:
            "header header"
            "aside aside"
            "main main"
            "footer footer";
        grid-auto-rows: min-content;
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
        margin: 0;
    } 

 }  