*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
  font-family: "Outfit", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}
:focus:not(:focus-visible) {
  outline: none;
}

body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    grid-auto-rows: min-content;
    grid-template-columns: 1;
    height: 100vh;
    margin: 0;
    /* overflow-x: hidden; */
}

#pageHeader {
    grid-area: header;
}

#pageAside {
    grid-area: aside;
}

#pageContent {
    grid-area: main;
}

#pageFooter {
    grid-area: footer;
}

@media only screen and (min-width: 696px) {

    body {
        display: grid;
        grid-template-areas:
            "header header"
            "aside aside"
            "main main"
            "footer footer";
        grid-auto-rows: min-content;
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
        margin: 0;
        /* overflow-x: hidden; */
    }

}