@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

:root {
    --btn-header-hover-bg: #666CA3;
    --btn-aside-hover-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom, #ffffff 10%, #F0F1FF 70%);
  background-attachment: fixed;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}
:focus:not(:focus-visible) {
  outline: none;
}

body {
    margin: 0 0 0 0;
    padding: 0;
}

.content-container {
    display: grid;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    grid-auto-rows: min-content;
    grid-template-columns: 1;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#pageHeader {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 16px 0 16px;
}

.logo-light {
    width: 89px;
    height: 35px;
    margin-top: 6px;
}

.btn {
    border-radius: 28px;
    width: 140px;
    height: 48px;
    font-size: 1.6rem;
    font-weight: 400;
    z-index: 2;
}

.btn-header {
    background-color: #13183F;
    color: #ffffff;
    margin-right: 3px;
}

#pageAside {
    grid-area: aside;
    margin: 0;
}

h1 {
    font-size: 4.0rem;
    font-weight: 800;
    color: #13183F;
    margin: 30px 16px 20px 16px;
}

.desc {
    font-size: 1.6rem;
    color: #83869A;
    font-weight: 500;
    line-height: 2.6rem;
    margin-left: 16px;
    margin-right: 16px;
}

.desc-aside {
    margin-right: 10px;
}

.btn-aside {
    background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    color: #ffffff;
    margin-left: 16px;
    width: 167px;
    height: 56px;
    border-radius: 31.5px;
}
 
.image-hero-mobile {
    margin: 50px 0 0 0;
} 

.image-hero-tablet {
    display: none;
}

.image-hero-desktop {
    display: none;
}

#pageContent {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.popular {
    background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    color: #ffffff;
    border-radius: 10px;
    font-size: 2.4rem;
    font-weight: 800;
    width: 343px;
    height: 120px;
    padding-left: 25px;
    line-height: 3.2rem;
    margin-bottom: 70px;
    margin-left: 16px;
}

.category {
    margin-left: 16px;
    margin-bottom: 40px;
    margin-right: 20px;
    background-color: #ffffff;
    width: 343px;
    height: 259px;
    border-radius: 10px;
    padding: 30px 10px 0 25px;
    position: relative;
}

.animation, .design, .photography, .crypto, .business {
    position: absolute;
    top: -28px;
    left: 28px;
}

h4 {
    font-size: 2.0rem;
    font-weight: 800;
    color: #13183F;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.category .desc {
    color: #83869A;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 30px;
}

.get-started {
    font-size: 1.6rem;
    color: #F74780;
    margin-left: 0px;
}

#pageFooter {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #13183F;
    width: 100%;
    height: 120px;
    padding: 0 16px 0 16px;
}

.btn-footer {
    border-radius: 28px;
    width: 140px;
    height: 48px;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    color: #FFFFFF;
}


@media only screen and (min-width: 768px) {
    
    .content-container {
        display: grid;
        grid-template-areas:
        "header header"
        "aside aside"
        "main main"
        "footer footer";
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        overflow-x: hidden;
        height: 100vh;
        margin: 0;
        min-height: 0;
        min-width: 0;
    }
    
    #pageHeader {
        margin: 24px 40px 0 39px;
    }
    
    #pageHeader .btn-header:hover {
        background: var(--btn-header-hover-bg, #666CA3);
    }
    
    #pageAside {    
        display: flex;
        flex-direction: row;
        margin-bottom: 220px;
        position: relative;
    }
    
    .image-hero-mobile {
        display: none;
    }
    
    .image-hero-tablet {
        display: block;
        width: 641px;
        height: 640px;
        transform: scale(1.1);
        top: -120px;
        right: -270px;
        z-index: 1;
        position: absolute;
    }
    
    .aside-container-left {
        margin: 85px 330px 0 39px;
        height: auto;
        z-index: 2;
        width: 500px;
    }
    
    h1 {
        margin: 0 50px 25px 0;
    }
    
    .desc-aside {
        margin: 0 0 25px 0;
        
    }
    
    .btn-aside {
        margin: 0;
    }

    #pageAside .btn-aside:hover {
        background: var(--btn-aside-hover-bg, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
    }

    #pageContent {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 10px;
    }

    .popular {
        width: 339px;
        height: 259px;
        padding: 36px 21px 0 32px;
        font-size: 2.1rem;
        margin-left: 0;
        margin-bottom: 0;
    }

    .category {
        margin: 0 0 56px 0;
    }

    #pageFooter {
        margin-top: 30px;
        padding: 0 40px 0 39px
    }

    #pageFooter .btn-footer:hover {
        background: var(--Gradient-2-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%));
    }

 }  

 @media only screen and (min-width: 1440px) {

    #pageHeader {
        margin: 29px 165px 0 165px;
    }

    #pageAside {
        position: relative;
        margin: 0 0 240px 0;
    }

    h1 {
        font-size: 5.6rem;
        line-height: normal;
        margin: 0 0 29px 0;
    }

    .desc-aside {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin: 0 55px 40px 0;
    }

    .image-hero-tablet {
        display: none;
    }

    .image-hero-desktop {
        display: block;
        width: 992px;
        height: 937px;
        top: -230px;
        right: -310px;
        position: absolute;
    }

    .aside-container-left {
        margin: 185.57px 0 0 165px;
    }

    .btn-header {
        width: 167px;
        height: 56px;
        font-size: 1.8rem;
        font-weight: 700;
    }

    #pageHeader .btn-header:hover {
        background: var(--btn-header-hover-bg, #666CA3);
    }

    .btn-aside {
        width: 167px;
        height: 63px;
        font-size: 1.8rem;
        font-weight: 700;
    }

    #pageAside .btn-aside:hover {
        background: var(--btn-aside-hover-bg, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
    }

    #pageContent {
        margin: 0 165px 50px 165px;
        column-gap: 30px;
    }

    .popular {
        width: 350px;
        height: 322px;
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 4.2rem;
        padding-top: 30px;
    }

    .category {
        width: 350px;
        height: 322px;
    }

    #pageFooter {
        padding: 0 165px 0 165.79px;
    }

    .btn-footer {
        width: 167px;
        height: 63px;
        font-size: 1.8rem;
        font-weight: 700;
    }

    #pageFooter .btn-footer:hover {
        background: var(--Gradient-2-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%));
    }

 }